/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ98lKYljxRKcZ-dv-hosZxpczaHFaJK7zVMeas4ywO9cO8vdW1w");
    background-size: cover;
    background-repeat: unset;
}
